@model IEnumerable<VShop_MicroServico.ProdutoWEB.Models.ProdutoViewModel>
<link rel="stylesheet" href="/css/product.css" asp-append-version="true" />

<form>
    <div class="container row">
        @foreach (var product in Model)
        {
            <div class="col-md-3 mb-2">
                <a href="/Home/ProductDetails/@product.Id">
                    <div class="card">
                        <img class="img-thumbnail" src="/images/@product.ImagemURL">
                        <div class="card-body">
                            <h5 class="card-title mb-2">
                                @product.Nome
                            </h5>
                            <p class="cart-text text-black">
                                <b>@product.Preco.ToString("C")</b>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</form>