@model VShop_MicroServico.ProdutoWEB.Models.ProdutoViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>ProdutoViewModel</h4>
<hr />

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" class="form-control" hidden="hidden" />

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" asp-for-invariant="Preco" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Estoque" class="control-label"></label>
                <input asp-for="Estoque" class="form-control" />
                <span asp-validation-for="Estoque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" asp-items="@ViewBag.CategoriaId" class="form-control" style="background-color:lightsteelblue"></select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden="hidden">
                <label asp-for="CategoriaNome" class="control-label"></label>
                <input asp-for="CategoriaNome" class="form-control" />
                <span asp-validation-for="CategoriaNome" class="text-danger"></span>
            </div>

        </div>

        <div class="col-md-6">
            <div class="form-group"  hidden="hidden">
                    <label asp-for="ImagemURL" class="control-label"></label>
                    <input asp-for="ImagemURL" class="form-control" />
                    <span asp-validation-for="ImagemURL" class="text-danger"></span>
                </div>
            <div class="form-group" style="text-align:center">
                <img src="~/images/@Model.ImagemURL" alt="Teste de imagem" height="250" width="250" />
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <textarea asp-for="Descricao" class="form-control"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
</form>


<br />
<div>
    <a asp-action="Index" class="btn btn-info">Voltar para Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
